/* Подключение шрифтов */
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Общие стили для страницы */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background: #ffffff;
  color: #333333;
}

.visually-hidden {
  display: none;
}

/* Стили для шапки */
.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: black;
}

header .button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  font-weight: 700;
}

/* Стили для блока hero*/
.hero {
  background-image: url(../images/hero-bg.jpg);
  background-color: #82b3d3;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* Стили для блока advantages*/
.advantages {
  text-align: center;
}

.advantages h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.advantages-item h3 {
  font-size: 24px;
  color: black;
  line-height: 28px;
}

.advantages-item p {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-blue {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-blue h3 {
  color: #ffffff;
}

.advantages-item-grey {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-light-grey {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Стили для блока services*/
.services {
  text-align: center;
}

.services h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
}

.services-item h3 {
  color: black;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-item p {
  font-size: 18px;
  line-height: 21px;
}

.services-item-light-grey {
  background: rgba(131, 179, 211, 0.12);
}

/* Стили для блока hotel-search*/
.hotel-search {
  text-align: center;
}

.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
}

.hotel-search .button {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

/* Стили для блока subscribe*/
.subscribe {
  text-align: center;
  color: #ffffff;

  background-image: url(../images/subscribe-bg.jpg);
  background-color: #82b3d3;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe .button {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82b3d3;
  color: #ffffff;
}

/* Стили для подвала */
.page-footer a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.social-list {
  list-style: none;
}
