/* Подключение шрифтов */
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Общие стили для страницы */
html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  height: 100%;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 0;
  padding: 0;
}

.page-container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-brown {
  color: #ffffff;
  background-color: #756157;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048;
  outline: none;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-brown:disabled {
  background-color: #e5e5e5;
}

.button-blue {
  background-color: #82b3d3;
  color: #ffffff;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.button-blue:disabled {
  background-color: #e5e5e5;
}

.button-green {
  background-color: #7db54f;
  color: #ffffff;
}

.button-green:hover {
  background-color: #6c9e42;
}

.button-green:focus {
  background-color: #6c9e42;
  outline: none;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.button-green:disabled {
  background-color: #e5e5e5;
}

.button-transparent {
  background-color: inherit;
  color: #ffffff;
}

.button-transparent:hover {
  opacity: 60%;
}

.button-transparent:focus {
  outline: 3px solid #83b3d3;
}

.button-transparent:disabled {
  opacity: 10%;
}

.button-transparent:active {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}

/* Стили для шапки */
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #dbdbdb;
}

.navigation-logo {
  width: 140px;
  height: 64px;
  z-index: 1;
  margin-right: 28px;
  display: block;
}

.navigation-user .navigation-item:last-child {
  margin-left: 20px;
}

.navigation-logo img {
  display: block;
}

.navigation-list {
  width: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user {
  width: 300px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.navigation-link.search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link.heart {
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.navigation-link .likes {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #6c9e42;
  top: 11px;
  right: 4px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: black;
  position: relative;
}

.navigation-link:hover {
  opacity: 70%;
}

.navigation-link.active {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 19px;
  text-underline-position: under;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
  margin: 0;
  padding: 0;
}

.navigation-user .button-brown {
  display: block;
  padding: 8px;
  min-width: 160px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

/* Стили для блока hero*/
.hero {
  background-image: url(../images/hero-bg.jpg);
  background-color: #82b3d3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

/* Стили для блока advantages*/
.advantages {
  padding-top: 69px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700px;
  text-transform: uppercase;
  color: black;
  margin: 0 auto;
  width: 620px;
  text-align: center;
  margin-bottom: 25px;
}

.advantages h3::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-blue h3::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages img {
  height: 100%;
  object-fit: cover;
}

.advantages-text {
  width: 655px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.advantages-item h3 {
  font-size: 24px;
  color: black;
  text-transform: uppercase;
  line-height: 28px;
  margin: 0 auto;
  margin-bottom: 62px;
  width: 175px;
  position: relative;
}

.advantages-item p {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-item {
  width: 400px;
}

.advantages-item-container {
  padding: 102px 85px;
  text-align: center;
}

.advantages-item-blue {
  color: #ffffff;
  background-color: #82b3d3;
  width: 1200px;
  display: flex;
}

.advantages-item-blue h3 {
  color: #ffffff;
}

.advantages-item-grey {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-light-grey {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Стили для блока services*/
.services {
  padding-top: 64px;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.services-item {
  width: 400px;
  padding: 81px 85px;
}

.services h2 {
  width: 505px;
  margin: 0 auto;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
}

.services-text {
  width: 490px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.services-item h3 {
  color: black;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-item p {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.services-item-light-grey {
  background: rgba(131, 179, 211, 0.12);
}

/* Стили для блока hotel-search*/
.hotel-search {
  margin: 0 auto;
  padding: 56px 0;
  text-align: center;
}

.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
  margin: 0;
  margin-bottom: 20px;
}

.hotel-search p {
  margin-bottom: 56px;
}

.hotel-search .button-brown {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 50px;
  border-radius: 4px;
  max-width: 500px;
  display: inline-block;
  margin: 0 auto;
}

/* Стили для блока subscribe*/
.subscribe {
  text-align: center;
  color: #ffffff;
  background-image: url(../images/subscribe-bg.jpg);
  background-color: #82b3d3;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe p {
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe .button-blue {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  max-width: 400px;
  font-weight: 700;
  cursor: pointer;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form input {
  border: none;
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
  background: #f2f2f2;
}

.subscribe.catalog-page {
  color: #000000;
  background: none;
}

/* Стили для подвала */
.page-footer {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.page-footer a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.logo-footer-icon {
  fill: #000;
}

.logo-footer-icon:hover {
  fill: #756157;
}

.logo-footer-icon:focus {
  fill: #756157;
  outline: none;
}

.logo-footer-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-item a {
  display: flex;
  width: 47px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.social-icon {
  fill: #83b3d3;
}

.social-icon:hover {
  fill: #68a2ca;
}

.social-icon:focus {
  fill: #68a2ca;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.phonenumber {
  color: #000000;
}

.phonenumber:hover {
  color: #756157;
}

.phonenumber:focus {
  color: #756157;
  outline: none;
}

.phonenumber:active {
  color: rgba(117, 97, 87, 0.3);
}

/* Стили для страницы Каталога */
/* Стили для блока filter-content*/
.filter {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

/* Стили для шапки вунутри каталога */
.inner-header {
  width: 1060px;
  margin: 0 auto;
}

.filter-buttons-container {
  display: flex;
  flex-direction: column;
}

.filter-content {
  background-image: url(../images/filter-bg.jpg);
  background-color: #82b3d3;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding-top: 35px;
  padding-bottom: 70px;
}

.filter-content a {
  color: #ffffff;
  text-decoration: none;
}

.filter-content h1 {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  display: flex;
  justify-content: center;
}

.home {
  display: block;
  width: 13px;
  height: 15px;
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}

.breadcrumbs-link {
  fill: #ffffff;
  color: ffffff;
}

.breadcrumbs-link:hover {
  fill: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  fill: #ffffff;
  color: #ffffff;
}

.breadcrumbs-link:active {
  fill: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 29px;
  position: relative;
}

.breadcrumbs-item:not(:last-child):before {
  position: absolute;
  content: "";
  top: 5px;
  right: -25px;
  background-image: url(../images/breadcrumbs-arrow.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

/* Стили для блока с поиском */
.filter-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-label {
  font-size: 18px;
  line-height: 23px;
}

.filter .button-blue {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
  margin-bottom: 32px;
  font-weight: 700;
  cursor: pointer;
}

.filter .button-transparent {
  border: none;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;
  border-radius: 4px;
  margin-bottom: 32px;
  font-weight: 700;
  cursor: pointer;
}

.infra {
  width: 150px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
  margin-right: 70px;
}

.filter-legend {
  margin-bottom: 32px;
}

.filter-label {
  margin-bottom: 16px;
}

.filter-label input {
  margin-right: 16px;
}

.filter-label:last-child {
  margin-bottom: 0;
}

.filter .price {
  width: 288px;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 70px;
}

.price legend {
  padding: 0;
  margin-bottom: 32px;
}

.price input {
  margin: 0;
  padding: 0;
  border: none;
  width: 140px;
}

.filter .buttons {
  display: flex;
  flex-direction: column;
  width: 191px;
  margin-left: auto;
  align-self: flex-end;
}

.filter .button:last-child {
  margin-bottom: 0;
}

/* Стили для блока catalog*/
.catalog {
  padding-top: 50px;
  padding-bottom: 60px;
}

.header-catalog {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-find-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
  margin: 0;
}

.catalog-sort-select {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 292px;
  height: 49px;
  cursor: pointer;
}

.view-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  gap: 8px;
}

.view-button {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 16px;
  cursor: pointer;
}

.view-button:hover {
  border-color: #000000;
}

.view-button:focus {
  border-color: #68a2ca;
  outline: none;
}

.view-button:active {
  border-color: #000000;
}

.view-button.active {
  border: 2px solid #000000;
}

/* Стили для карточки */
.goods {
  list-style: none;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;
}

.goods-item {
  outline: 1px solid #e6e6e6;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  width: 340px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr min-content min-content min-content;
  gap: 16px 20px;
  align-items: center;
}

.goods-item img {
  display: block;
  grid-column: 2 span;
  width: 100%;
  object-fit: contain;
}

.goods h3 {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  grid-column: 2 span;
  grid-row-start: 2;
  align-self: flex-start;
}

.goods p {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.priceHotel {
  justify-self: flex-end;
}

.goods .button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
  word-break: break-all;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.goods-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
  word-break: break-all;
}

.stars-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.stars-item img {
  display: block;
  margin: 0;
}

/* Стили для пагинации */
.pagination-list {
  list-style: none;
  display: flex;
  margin: 0 auto;
  width: 1060px;
  gap: 8px;
}

.pagination-item a {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  display: flex;
  min-width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.pagination-item.active a {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-item.none a {
  color: #000000;
  background: none;
}
